.items{
    perspective: 800px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2px;
    user-select: none;
    transform: scale(0.9);
    }
.item{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    background: aquamarine;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    color:aquamarine;
     background-image: url("./calavera.png");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}